<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.ybqdren.mybatisDemo.dao.UserMapper">
    <select id="queryUserBySchoolName" resultType="com.github.ybqdren.mybatisDemo.pojo.User">
        select *
        from `user`
        <if test="schoolName != null">
            WHERE schoolName = #{schoolName}
        </if>


    <select id="queryUserBySchoolName2" resultType="com.github.ybqdren.mybatisDemo.pojo.User">
        select *
        from `user`
        <if test="schoolName != null">
            WHERE schoolName = #{schoolName}
        </if>
    </select></mapper>